.products_page_container{
    display: flex;
    flex-direction: row;
     flex-direction: column; 
     justify-content: center;
    align-items: center; 
    background-color: #9eb4f3;
     padding: 4% 8%; 
}

.product_details_container{
   display: flex;
   justify-content: space-evenly;
   padding: 4% 8%;
   background-color: white;
   box-shadow: -8px 8px 8px 0px orangered;
}
.product_details_container>img{
    height: 300px;
    width: 300px;
}
.product_details{
    display: flex;
    flex-direction: column;
    margin: 0 4%;
    width: 500px;
}
.product_details_title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;


}
.product_details_desc{
    font-size: 20px;
    font-family: cursive;
}

.product_details_ratings > button{
     color: white;
     background-color: green;
     width: 60px;
     height: 30px;
     font-size: 15px;
     font-weight: 700;
     margin-bottom: 20px;
    
}
.product_details_ratings>span{
    font-size: 18px;
    font-weight: 700;
}
.product_price{

  width: 200px;
    
    
}

.product_price_title{
    font-size: 25px;
    font-weight: 700;
    color: blue;
}

.product_price_value{
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin-top: 10px;
}
.product_price_text{
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-top: 10px;
}